/*:root {
    --color-primary: #b33243;
    --color_doc-type_event: #225588;
    --color_doc-type_fellow: #882255;
    --color_doc-type_page: #558822;
    --color_doc-type_update: #885522;
}

html, body, h1 {
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #202050;
}

[data-testid="stDecoration"] {
    background-image: linear-gradient(90deg, #31333F, var(--color-primary));
}

a {
    color: #3c718a !important;
}

/* hide DEPLOY button in top-right of UI */
.stAppDeployButton {
    display: none;
}

/*
hide fullscreen image button in top-right of images,
which currently only applies to BDCbot logo image.
*/
.stElementContainer button {
    display: none;
}
*/