html, body, h1 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: #202050;
}

[data-testid="stDecoration"] {
    background-image: linear-gradient(90deg, #31333F, #b33243);
}

a {
    color: #3c718a !important;
}